.header-bar {
    position: absolute;
    background-color: #2b2828;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: end;
    align-content: center;
    height: 56px;
}

a {
    color: #fff;
    padding: 20px;
}

a:active {
    color: rgb(189, 189, 189);
}