.header-bar {
    position: absolute;
    background-color: #2b2828;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 30px;
}

a {
    color: #fff;
    padding: 20px;
}

a:active {
    color: rgb(189, 189, 189);
}